doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title page
    block links
      link(rel="stylesheet", href="css/main.css")
      script(src="js/libs/libs.min.js")
  body
    block content
